header{
    text-align: center;
}



body{
  padding: 25px;
    margin:auto;
}

thead{
    border: 1px solid white;
    background-color: black;
    color: white;
     margin:auto;
     height:100px;
}

th{
    border: 1px solid white;
    border-collapse: collapse;
      margin:auto;
      font-family:arial;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
     margin:auto;
    height:60px;
    font-size:15px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    margin:auto;
    width:1100px;
    
    
}
.nutter {
    background-color: rgb(238,238,238);
    font-family:arial;
}
.nut {
    background-color:rgb(245,245,245);
    width:800px;
    font-family:arial;
}