header{
    text-align: center;
}



body{
  padding: 25px;
}

thead{
    border: 1px solid white;
    background-color: black;
    color: white;
}

th{
    border: 1px solid white;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    
}